
a {
    color: red;
    text-decoration: none;   
    font-size: x-large; 
    line-height: 59px;
    
}

.header-menu {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 550px;
    margin-right: 550px;
    font-weight: 900; 
       
}

.header-section {
    display: flex;
    align-items: center;
    margin-left: 15px;   
}

h2 {
    margin-left: 700px;
    margin-right: 600px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 50px;
    
    
}

.Text {
    margin-left: 150px;
    margin-right: 150px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-bottom: 100px; 
    
}

.but{
    display: block;
    border: 3px ;
    position: absolute;
    left: 43%;
    width: 250px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: red;
    text-transform: uppercase;
}

.text-but{
    color: white;
}

.footer{
    margin-top: 180px;
    margin-right: 250px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-align: right;

}
